name: DEMO WORKFLOWS

on: 
  workflow_call:

jobs:
  demo:
    runs-on: dop10_self_hosted_runner_01
    steps:
      - name: Demo Workflow Executed Successfully!
        run: echo "Demo Workflow Executed Successfully!"
      - name: Call composite action
        uses: ./.github/actions/demo-actions@main